{% load static %}
    <nav class="navbar navbar-light" style="background-color: lightskyblue">
        <div class="container">
            <a class="navbar-brand" href="{% url 'posts:posts_index' %}">
                <img src="{% static 'img/logo.png' %}"
                     width="30"
                     height="30"
                     class="d-inline-block align-top"
                     alt="">
                <span style="color:red">Ya</span>tube
        </a>
        {% with request.resolver_match.view_name as view_name %}
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link {% if view_name  == 'about:author' %}active{% endif %}"
                       href="{% url 'about:author' %}">Об авторе</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if view_name  == 'about:tech' %}active{% endif %}"
                       href="{% url 'about:tech' %}">Технологии</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {% if view_name  == 'posts:post_create' %}active{% endif %}"
                           href="{% url 'posts:post_create' %}">Новая запись</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-light {% if view_name  == 'users:password_change' %}active{% endif %}"
                           href="{% url 'password_change' %}">Изменить пароль</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-light {% if view_name  == 'users:logout' %}active{% endif %}"
                           href="{% url 'users:logout' %}">Выйти</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-light {% if view_name  == 'posts:profile' %}active{% endif %}"
                           href="{% url 'posts:profile' user.username %}">@{{ user.username }}</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link link-light {% if view_name  == 'users:login' %}active{% endif %}"
                           href="{% url 'users:login' %}">Войти</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-light  {% if view_name  == 'users:signup' %}active{% endif %}"
                           href="{% url 'users:signup' %}">Регистрация</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endwith %}
