{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
    <div class="container">
        <h1>Привет, меня зовут Павел и я автор этого сайта :)</h1>
            <p>
                Я студент Яндекс Практикума факультета Backend разработки на Python.
                Возможно это не лучший сайт в интернете, но зато, я его сделал сам.
                Он мне запомнится тем, что это первый сайт на django, который я сделал сам.
                На момент создания страницы мне 25 лет и я родом из города Воронеж :)
                Люблю альпинизм, туризм и активный образ жизни :)
            </p>
{% endblock %} 