{% extends "base.html" %}
{% block title %}Сбрось пароля произошел успешно{% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
        <div class="card">
          <div class="card-header">
            Отправлено письмо
          </div>
          <div class="card-body">
            <p>Проверьте свою почту, вам должно прийти письмо со ссылкой для восстановления пароля</p>
          </div> 
        </div> 
      </div> <!-- card -->
    </div> <!-- col -->
  </div> <!-- row -->
{% endblock %}