{% extends "base.html" %}
{% block title %}Страница смены пароля{% endblock %}
{% block content %}
{% load user_filters %}
    <title>Изменение пароля</title>
  </head>
  <body>	   
    <main>
      <div class="container py-5"> 
        <div class="row justify-content-center">
          <div class="col-md-8 p-5">
            <div class="card">
              <div class="card-header">
                Изменить пароль
              </div>
              <div class="card-body">
                <form method="post" action="{% url 'users:password_change' %}">
                  {% csrf_token %}
                  {% include 'posts/includes/form.field.html' %}
                  <div class="col-md-6 offset-md-4">
                    <button type="submit" class="btn btn-primary">
                      Изменить пароль
                    </button>
                  </div>
                </form>
              </div> <!-- card body -->
            </div> <!-- card -->
          </div> <!-- col -->
        </div> <!-- row -->
      </div>
    </main>
  </body>
</html>
{% endblock %}